main
  svg.ic(viewBox="0 0 256 256",width="256px",height="256px",xmlns="http://www.w3.org/2000/svg")
    defs
      linearGradient(id="loop",x1="0",y1="0",x2="1",y2="0")
        stop(offset="0%",stop-color="hsl(53,90%,55%)")
        stop(offset="25%",stop-color="hsl(33,90%,55%)")
        stop(offset="50%",stop-color="hsl(3,90%,55%)")
        stop(offset="75%",stop-color="hsl(303,90%,35%)")
        stop(offset="100%",stop-color="hsl(223,90%,55%)")

    - var loops = 48;
    - for (var i = 0; i < loops; ++i)
      - var y = i * 4 + 2
      - var offset = -1 / loops * i;
      path.ic__loop(fill="none",stroke="url(#loop)",stroke-width="2",stroke-dasharray="300 300",stroke-dashoffset=offset,d="M 48 1 C 24.18 1 1 8.18 1 32 C 1 55.82 24.18 63 48 63 C 80 63 128 32 128 32 C 128 32 176 1 208 1 C 231.761 1 255 8.239 255 32 C 255 55.761 231.761 63 208 63 C 176 63 128 32 128 32 C 128 32 80 1 48 1 Z",transform="translate(0,"+y+")")
